<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Listing</title>
</head>
<body>
    <form method="POST" action="/listings">
        <div>
            Title: <input name="listing[title]" placeholder="" type="text" required>
            <br><br>
            Description: <textarea name="listing[description]" placeholder="" type="text" required></textarea>
            <br> <br>
            Image: <input name="listing[image]" placeholder="" type="text" required>
            <br> <br>
            Price: <input name="listing[price]" placeholder="" type="text" required>
            <br> <br>
            Location: <input name="listing[location]" placeholder="" type="text" required>
            <br> <br>
            Country: <input name="listing[country]" placeholder="" type="text" required>
            <br> <br>
            <button>Create</button>
        </div>
    </form>
</body>
</html>